<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referral</title>
    <link rel="stylesheet" href="../static/css/style.css" >
</head>
<body>

    <div class="main">
        <h1 class="heading">Tell Us About Yourself 🤫🤫</h1>
        <div class="LinkedInLink">
          LinkedIn <input placeholder="Your LinkedIn Link" id="parseLinkedInInput"> </input> <button id="parseLinkedInButton">Parse LinkedIn</button>
        </div>

        <form>
          <div>
            <label>Name:</label>
            <input placeholder="Enter Your Name" id="1" class="parseData"></input>
          </div>

          <div>
            <label>Place of study:</label>
            <input placeholder="Place of Study" id="2" class="parseData"></input>
          </div>
          <div>
            <label>Degree:</label>
            <input placeholder="Degree" id="3" class="parseData"></input>
          </div>
          <div>
            <label>Company:</label>
            <input placeholder="Company" id="4" class="parseData"></input>
          </div>
          <div>
            <label>Position:</label>
            <input placeholder="Position" id="5" class="parseData"></input>
          </div>
          <div>
            <label>Responsibilities:</label>
            <input placeholder="Responsibilities" id="6" class="parseData"></input>
          </div>
          <div>
            <label>Achievements:</label>
            <input placeholder="Achievements" id="7" class="parseData"></input>
          </div>
        <button type="button" id="generateDocumentId" class="generateDocument">DO IT.  I'm Ready</button>
      </form>

      <div class="referral">
        <h2>The Harsh Truth 😎😎 </h2>
        <textarea id="referralResponseTextArea"></textarea>
      </div>
        
      </div>

    <script src="static/js/script.js"></script>
</body>
</html>